@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .Homepage {
    width: 100vw;
    height: 100vh;
    background: url("/images/background-purple.png");
  }

  .Homepage h1,
  .Testimonials h1,
  .Pricing h1,
  .Contact h1 {
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
      0px 18px 23px rgba(0, 0, 0, 0.1);
  }

  .Testimonials {
    width: 100vw;
    height: 100vh;
    background: url("/images/background-purple.png") no-repeat;
    background-size: cover;
  }
  .Contact {
    width: 100vw;
    height: 100vh;
    background: url("/images/background-purple.png") no-repeat;
    background-size: cover;
  }

  .Contact input:focus,
  .Contact textarea:focus {
    outline-color: #a77ebc;
  }

  .Pricing {
    width: 100vw;
    height: 100vh;
    background: url("/images/background-purple.png") no-repeat;
  }

  .testimonial-card {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
      rgba(0, 0, 0, 0.22) 0px 10px 10px;
  }
}
